Automation-script/flows.json
[{"id":"c12861f0.f94f1","type":"tab","label":"CDLE Mini Project","disabled":false,"info":""},{"id":"6659a709.546e38","type":"split","z":"c12861f0.f94f1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":500,"wires":[["72694049.74cee"]]},{"id":"72694049.74cee","type":"switch","z":"c12861f0.f94f1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Distance","vt":"str"},{"t":"cont","v":"Light","vt":"str"},{"t":"cont","v":"Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":500,"wires":[["d6416b85.0ccc18"],["36f63526.85a35a"],["23d91f87.b889c"]]},{"id":"d6416b85.0ccc18","type":"split","z":"c12861f0.f94f1","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":380,"wires":[["af4b7175.19572"]]},{"id":"36f63526.85a35a","type":"split","z":"c12861f0.f94f1","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":500,"wires":[["d54e82b3.e405c"]]},{"id":"23d91f87.b889c","type":"split","z":"c12861f0.f94f1","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":660,"wires":[["842b99fc.d88278"]]},{"id":"af4b7175.19572","type":"switch","z":"c12861f0.f94f1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":380,"wires":[[],["39bc8ad2.79b586"]]},{"id":"d54e82b3.e405c","type":"switch","z":"c12861f0.f94f1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":500,"wires":[[],["e0f008ba.ed9a98"]]},{"id":"842b99fc.d88278","type":"switch","z":"c12861f0.f94f1","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":660,"wires":[[],["a13deef1.40c21"]]},{"id":"39bc8ad2.79b586","type":"change","z":"c12861f0.f94f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["d70bdf2d.b5277","77544495.f9a7ac","544df0be.19291"]]},{"id":"e0f008ba.ed9a98","type":"change","z":"c12861f0.f94f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":500,"wires":[["5e619451.50dbac","31bc3f8a.77669","6af3a2c2.55f27c"]]},{"id":"a13deef1.40c21","type":"change","z":"c12861f0.f94f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":660,"wires":[["512b0db1.30d9c4","54a56a25.45bf14","e10cbfbf.84d84"]]},{"id":"d70bdf2d.b5277","type":"debug","z":"c12861f0.f94f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":380,"wires":[]},{"id":"5e619451.50dbac","type":"debug","z":"c12861f0.f94f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":500,"wires":[]},{"id":"512b0db1.30d9c4","type":"debug","z":"c12861f0.f94f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":660,"wires":[]},{"id":"bfd0b761.7481a8","type":"exec","z":"c12861f0.f94f1","command":"python3 /home/pi/Mini-Project-CDLE/Code/Sensor_Data.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":480,"y":180,"wires":[["6659a709.546e38"],[],[]]},{"id":"823c90da.0c7e2","type":"inject","z":"c12861f0.f94f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["bfd0b761.7481a8"]]},{"id":"77544495.f9a7ac","type":"ui_text","z":"c12861f0.f94f1","group":"8c8a1f57.d4c15","order":1,"width":7,"height":5,"name":"","label":"Distance (in cm):","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":340,"wires":[]},{"id":"31bc3f8a.77669","type":"ui_gauge","z":"c12861f0.f94f1","name":"","group":"b72a5cad.974c6","order":1,"width":7,"height":5,"gtype":"gage","title":"Light Level","label":"lx","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":460,"wires":[]},{"id":"54a56a25.45bf14","type":"ui_gauge","z":"c12861f0.f94f1","name":"","group":"b6e0ed75.b62f","order":1,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":620,"wires":[]},{"id":"5e5e2477.30285c","type":"comment","z":"c12861f0.f94f1","name":"Automation script for three sensors using different protocol","info":"","x":290,"y":100,"wires":[]},{"id":"544df0be.19291","type":"ui_chart","z":"c12861f0.f94f1","name":"","group":"4a21b2c1.6c9bcc","order":2,"width":6,"height":5,"label":"Distance line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":300,"wires":[[]]},{"id":"6af3a2c2.55f27c","type":"ui_chart","z":"c12861f0.f94f1","name":"","group":"5ce9a89a.3fba18","order":1,"width":6,"height":5,"label":"Light level line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":540,"wires":[[]]},{"id":"e10cbfbf.84d84","type":"ui_chart","z":"c12861f0.f94f1","name":"","group":"e0d2bee1.0446","order":1,"width":6,"height":5,"label":"Temperature line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":700,"wires":[[]]},{"id":"cda7608c.e2c9","type":"uibuilder","z":"c12861f0.f94f1","name":"","topic":"","url":"Object-Detection","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"useSecurity":false,"sessionLength":432000,"tokenAutoExtend":false,"x":190,"y":800,"wires":[[],[]]},{"id":"7c047aa1.e36364","type":"comment","z":"c12861f0.f94f1","name":"Automation script for object detection","info":"","x":200,"y":720,"wires":[]},{"id":"e300fea5.64778","type":"ui_template","z":"c12861f0.f94f1","group":"4a21b2c1.6c9bcc","name":"Logo / Clock","order":1,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = '/skymind_logo.png'\n        logo.height = 45;\n        div1[0].style.margin = '2px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '2px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":210,"y":920,"wires":[[]]},{"id":"a4b67477.c0c918","type":"comment","z":"c12861f0.f94f1","name":"Output","info":"Distance:16.0\nLight:80\nTemperature:20","x":570,"y":100,"wires":[]},{"id":"8c8a1f57.d4c15","type":"ui_group","name":"Ultrasonic Sensor (US100)","tab":"d247e5b7.8e0f68","order":3,"disp":true,"width":"7","collapse":false},{"id":"b72a5cad.974c6","type":"ui_group","name":"Digital Light Intensity Sensor (BH1750FVI)","tab":"d247e5b7.8e0f68","order":2,"disp":true,"width":"7","collapse":false},{"id":"b6e0ed75.b62f","type":"ui_group","name":"Temperature Sensor (TMP36)","tab":"d247e5b7.8e0f68","order":1,"disp":true,"width":"7","collapse":false},{"id":"4a21b2c1.6c9bcc","type":"ui_group","name":"Distance against time","tab":"d247e5b7.8e0f68","order":6,"disp":true,"width":"7","collapse":true},{"id":"5ce9a89a.3fba18","type":"ui_group","name":"Light against time","tab":"d247e5b7.8e0f68","order":5,"disp":true,"width":"7","collapse":true},{"id":"e0d2bee1.0446","type":"ui_group","name":"Temperature against time","tab":"d247e5b7.8e0f68","order":4,"disp":true,"width":"7","collapse":true},{"id":"d247e5b7.8e0f68","type":"ui_tab","name":"Real Time Sensor Data","icon":"dashboard","order":1,"disabled":false,"hidden":false}]